@use "../../scss/variables" as defaults;

$animationDuration: var(--rli-animation-duration, 4s);
$animationFn: var(--rli-animation-function, linear);
$slabTileWidth: 4em;
$boundingWidth: 7em;
$noOfSlabTiles: 4;

.slab-rli-bounding-box {
  font-size: defaults.$fontSizer;
  color: defaults.$defaultColor;
  position: relative;

  // .slab-text {
  //   position: absolute;
  //   top: 105%;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   color: currentColor;
  //   font-size: 0.7em;
  //   font-weight: 600;
  // }

  .slab-indicator {
    position: relative;
    display: block;
    width: $boundingWidth;
    height: calc($slabTileWidth * 1.1);
    margin: 0 auto;

    .slabs-wrapper {
      width: $slabTileWidth;
      height: $slabTileWidth;
      transform: perspective(15em) rotateX(66deg) rotateZ(-25deg);
      transform-style: preserve-3d;
      margin-bottom: -1.3em; // Lowers the animating tiles closer to the bottom
      // display: block;
      position: absolute;
      bottom: 0;
      right: 0;

      .slab {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: currentColor;
        opacity: 0;
        box-shadow: -0.08em 0.15em 0 rgb(0 0 0 / 45%);
        transform-origin: 0% 0%;
        animation: slabMove $animationDuration $animationFn infinite;

        &:nth-child(1) {
          animation-delay: calc($animationDuration / $noOfSlabTiles * -3);
        }
        &:nth-child(2) {
          animation-delay: calc($animationDuration / $noOfSlabTiles * -2);
        }
        &:nth-child(3) {
          animation-delay: calc($animationDuration / $noOfSlabTiles * -1);
        }
        &:nth-child(4) {
          animation-delay: 0s;
        }
      }
    }
  }
}

@keyframes slabMove {
  0% {
    transform: translateY(0) rotateX(30deg);
    opacity: 0;
  }
  10% {
    transform: translateY(-48%) rotateX(0deg);
    opacity: 1;
  }
  90% {
    transform: translateY(-422%) rotateX(0deg);
    opacity: 0.1;
  }
  100% {
    transform: translateY(-480%) rotateX(0deg);
    opacity: 0;
  }
}
