.d-i-b {
    display: inline-block;
}

.foursquare-bounding-box {
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;

    .foursquare-loader {
        height: 6.25em;
        width: 6.25em;
        &.small{
            height:1.875em;
            width:1.875em;
            animation: expandsmall 1s linear infinite;
        }
        &.medium{
            height:3.125em;
            width:3.125em;
            animation: expandmedium 1s linear infinite;
        }
        &.large{
            height: 6.25em;
            width: 6.25em;
            animation: expandlarge 1s linear infinite;
        }
        position: relative;
        font-size: 0.8em;
        animation: expandlarge 1s linear infinite;
        transform: rotate(45deg);
        

        

        span{
            position:absolute;
            width: 3.125em;;
            height: 3.125em;
            animation: square 1s both infinite;

            &.small{
                height:0.9375em;
                width:0.9375em;
            }
            &.medium{
                height:1.5625em;
                width:1.5625em;
            }
            &.large{
                height: 3.125em;
                width: 3.125em;
            }
            &:nth-child(1) {
                top: 0;
                left: 0;
                background-color: red;
                
            }
    
            &:nth-child(2) {
                
                top: 0;
                right: 0;
                background-color: blue;
                
            }
    
            &:nth-child(3) {
               
                bottom: 0;
                left: 0;
                background-color: yellow;
                
            }
    
            &:nth-child(4) {
                
                bottom: 0;
                right: 0;
                background-color: purple;
                
            }

        }

    }
    
}



@keyframes expandlarge {
    0% {
        width: 6.25em;
        height: 6.25em;
    }

    10% {
        width: 6.25em;
        height: 6.25em;
    }

    50% {
        width: 9.375em;
        height: 9.375em;
    }

    90% {
        width: 6.25em;
        height: 6.25em;
    }

    100% {
        width: 6.25em;
        height: 6.25em;
    }
}

@keyframes expandmedium {
    0% {
        width: 3.125em;
        height: 3.125em;
    }

    10% {
        width: 3.125em;
        height: 3.125em;
    }

    50% {
        width: 5em;
        height: 5em;
    }

    90% {
        width: 3.125em;
        height: 3.125em;
    }

    100% {
        width: 3.125em;
        height: 3.125em;
    }
}

@keyframes expandsmall {
    0% {
        width: 1.875em;
        height: 1.875em;
    }

    10% {
        width: 1.875em;
        height: 1.875em;
    }

    50% {
        width: 3.125em;
        height: 3.125em;
    }

    90% {
        width: 1.875em;
        height: 1.875em;
    }

    100% {
        width: 1.875em;
        height: 1.875em;
    }
}

@keyframes square {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }
   

    90% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
    }

}