.bubbledot-bounding-box {
  font-size: 16px;
  box-sizing: border-box;
  display: inline-block;

  .bubbledot-loader {
    width: 5em;
    height: 5em;
    position: relative;
    z-index: 0;
    display: inline-block;
    color: limegreen;

    .bubbledot-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.6em;
      letter-spacing: 0.5px;
      font-family: sans-serif;
      mix-blend-mode: difference;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: -2;
    }

    .dot-child {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 15%;
        height: 15%;
        background-color: currentColor;
        border-radius: 50%;
        animation: bubble-dots 1.2s infinite ease-in-out both;
      }
    }
    .bubbledot2 {
      transform: rotate(30deg);
    }
    .bubbledot3 {
      transform: rotate(60deg);
    }
    .bubbledot4 {
      transform: rotate(90deg);
    }
    .bubbledot5 {
      transform: rotate(120deg);
    }
    .bubbledot6 {
      transform: rotate(150deg);
    }
    .bubbledot7 {
      transform: rotate(180deg);
    }
    .bubbledot8 {
      transform: rotate(210deg);
    }
    .bubbledot9 {
      transform: rotate(240deg);
    }
    .bubbledot10 {
      transform: rotate(270deg);
    }
    .bubbledot11 {
      transform: rotate(300deg);
    }
    .bubbledot12 {
      transform: rotate(330deg);
    }

    .bubbledot2:before {
      animation-delay: -1.1s;
    }
    .bubbledot3:before {
      animation-delay: -1s;
    }
    .bubbledot4:before {
      animation-delay: -0.9s;
    }
    .bubbledot5:before {
      animation-delay: -0.8s;
    }
    .bubbledot6:before {
      animation-delay: -0.7s;
    }
    .bubbledot7:before {
      animation-delay: -0.6s;
    }
    .bubbledot8:before {
      animation-delay: -0.5s;
    }
    .bubbledot9:before {
      animation-delay: -0.4s;
    }
    .bubbledot10:before {
      animation-delay: -0.3s;
    }
    .bubbledot11:before {
      animation-delay: -0.2s;
    }
    .bubbledot12:before {
      animation-delay: -0.1s;
    }
  }
}

@keyframes bubble-dots {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
