.d-i-b {
  display: inline-block;
}
.atom-bounding-box {
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;

  .atom-loader {
    // create stacking context + relative positioning
    position: relative;
    z-index: 1;

    // ratio 3:1
    width: 5em;
    height: 1.7em;
    font-size: 1em;
    color: limegreen;
    letter-spacing: 0.8px;

    .atom-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // font-weight: 500;
      width: 80%;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.6em;
      letter-spacing: 0.5px;
      font-family: sans-serif;
      mix-blend-mode: difference;
      // filter: invert(3%);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: -2;

      // background-color: blue;
    }

    .orbit-holder {
      color: currentColor;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: animate var(--animate-duration) linear infinite;

      &:has(.electron) {
        animation-direction: reverse;
      }

      &.orbit-holder-1 {
        --animate-duration: 2s;
      }
      &.orbit-holder-2 {
        --animate-duration: 2.5s;
      }
      &.orbit-holder-3 {
        --animate-duration: 2s;
      }

      .orbit {
        --orbit-width-without-electron: 0.2em;
        --orbit-width-with-electron: 0.3em;
        border-color: currentColor;
        color: currentColor;
        border-style: solid;
        border-width: var(--orbit-width-without-electron);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:has(> .electron) {
          border-width: var(--orbit-width-with-electron);
          width: calc(100% - calc(2 * (var(--orbit-width-with-electron) - var(--orbit-width-without-electron))));
        }

        .electron {
          position: absolute;
          top: 100%;
          height: 0.8em;
          width: 0.8em;
          background-color: currentColor;
          border-radius: 50%;
          box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 7em, 0 0 8em, 0 0 0 0.5em rgba(255, 255, 0, 0.01);
        }

        &.orbit1 {
          transform: rotate(-45deg);
        }

        &.orbit2 {
          transform: rotate(0deg);
        }

        &.orbit3 {
          transform: rotate(-135deg);
        }
      }
    }
  }
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}
