@use "../../scss/variables" as defaults;

.pulse-bounding-box {
  font-size: defaults.$fontSizer;
  isolation: isolate;

  .pulse-loader {
    color: defaults.$defaultColor;
    position: relative;

    .pulse-text {
      color: currentColor;
      mix-blend-mode: difference;

      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);

      z-index: -2;
    }
  }

  .pulse-loader svg.rli-pulse-svg {
    visibility: hidden;
  }
}
