@use "sass:string";
@use "../../../scss/variables" as defaults;

$animationDuration: var(--rli-animation-duration, 1s);
$animationFn: var(--rli-animation-function, ease-out);
$brick-width: 1.4em;

$brickStackMove: string.unique-id();
$brickStackColoring: string.unique-id();

@function TDBrickStackColorVar($num: null) {
	$cssVar: var(--TD-brick-stack-phase1-color);

	@if ($num and $num != 1) {
		$cssVar: var(--TD-brick-stack-phase#{$num}-color, $cssVar);
	}

	@return $cssVar;
}

@mixin dotShapes() {
	background:
		radial-gradient(
				circle closest-side,
				currentColor 0% 95%,
				rgba(0, 0, 0, 0) calc(95% + 1px)
			)
			0 0/ 40% 40% no-repeat,
		radial-gradient(
				circle closest-side,
				currentColor 0% 95%,
				rgba(0, 0, 0, 0) calc(95% + 1px)
			)
			0 100% / 40% 40% no-repeat,
		radial-gradient(
				circle closest-side,
				currentColor 0% 95%,
				rgba(0, 0, 0, 0) calc(95% + 1px)
			)
			100% 100% / 40% 40% no-repeat;
}

.brick-stack-rli-bounding-box {
	--TD-brick-stack-phase1-color: #{defaults.$defaultColor};

	box-sizing: border-box;
	font-size: defaults.$fontSizer;
	display: inline-block;
	color: TDBrickStackColorVar();

	.brick-stack-indicator {
		width: calc($brick-width * 2);
		height: calc($brick-width * 2);
		position: relative;
		display: block;
		margin: 0 auto;
	}

	.brick-stack {
		width: 100%;
		height: 100%;
		@include dotShapes();

		animation:
			$brickStackMove $animationDuration $animationFn infinite,
			$brickStackColoring calc($animationDuration * 4) $animationFn infinite;
	}
}

@keyframes #{$brickStackMove} {
	0% {
		background-position:
			0 0,
			0 100%,
			100% 100%;
	}
	25% {
		background-position:
			100% 0,
			0 100%,
			100% 100%;
	}
	50% {
		background-position:
			100% 0,
			0 0,
			100% 100%;
	}
	75% {
		background-position:
			100% 0,
			0 0,
			0 100%;
	}
	100% {
		background-position:
			100% 100%,
			0 0,
			0 100%;
	}
}

@keyframes #{$brickStackColoring} {
	100%,
	0% {
		color: TDBrickStackColorVar(1);
	}
	20% {
		color: TDBrickStackColorVar(1);
	}
	25% {
		color: TDBrickStackColorVar(2);
	}
	45% {
		color: TDBrickStackColorVar(2);
	}
	50% {
		color: TDBrickStackColorVar(3);
	}
	70% {
		color: TDBrickStackColorVar(3);
	}
	75% {
		color: TDBrickStackColorVar(4);
	}
	95% {
		color: TDBrickStackColorVar(4);
	}
}
