.dot-bounding-box {
  font-size: 16px;
  box-sizing: border-box;
  display: inline-block;

  .fading-dot-loader {
    width: 5em;
    height: 5em;
    position: relative;
    z-index: 0;
    color: limegreen;
    display: inline-block;

    .fading-dot-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.6em;
      letter-spacing: 0.5px;
      font-family: sans-serif;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: -2;
    }

    .fading-dot {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 15%;
        height: 15%;
        background-color: currentColor;
        border-radius: 50%;
        animation: fade-dot 1.2s infinite ease-in-out both;
      }
    }

    .fading-dot2 {
      transform: rotate(30deg);
    }
    .fading-dot3 {
      transform: rotate(60deg);
    }
    .fading-dot4 {
      transform: rotate(90deg);
    }
    .fading-dot5 {
      transform: rotate(120deg);
    }
    .fading-dot6 {
      transform: rotate(150deg);
    }
    .fading-dot7 {
      transform: rotate(180deg);
    }
    .fading-dot8 {
      transform: rotate(210deg);
    }
    .fading-dot9 {
      transform: rotate(240deg);
    }
    .fading-dot10 {
      transform: rotate(270deg);
    }
    .fading-dot11 {
      transform: rotate(300deg);
    }
    .fading-dot12 {
      transform: rotate(330deg);
    }
    .fading-dot2:before {
      animation-delay: -1.1s;
    }
    .fading-dot3:before {
      animation-delay: -1s;
    }
    .fading-dot4:before {
      animation-delay: -0.9s;
    }
    .fading-dot5:before {
      animation-delay: -0.8s;
    }
    .fading-dot6:before {
      animation-delay: -0.7s;
    }
    .fading-dot7:before {
      animation-delay: -0.6s;
    }
    .fading-dot8:before {
      animation-delay: -0.5s;
    }
    .fading-dot9:before {
      animation-delay: -0.4s;
    }
    .fading-dot10:before {
      animation-delay: -0.3s;
    }
    .fading-dot11:before {
      animation-delay: -0.2s;
    }
    .fading-dot12:before {
      animation-delay: -0.1s;
    }
  }
}

@keyframes fade-dot {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
