@use "../../../scss/variables" as defaults;

.split-disc-bounding-box {
  font-size: defaults.$fontSizer;
  box-sizing: border-box;
  display: inline-block;

  .split-disc-loader {
    width: 5em;
    height: 5em;
    display: inline-block;

    // create stacking context
    position: relative;
    z-index: 0;

    color: defaults.$defaultColor;

    .split-disc-ring {
      margin: auto;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border-width: 0.6em;
      border-style: solid;
      border-color: var(--split1-color, var(--splits-color, currentColor)) transparent
        var(--split2-color, var(--splits-color, currentColor)) transparent;
      animation: split-disc-spin 1.2s linear infinite;

      background-color: transparent;
    }

    .split-disc-text {
      mix-blend-mode: difference;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: -2;
    }
  }
}
@keyframes split-disc-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
