@use "../../../scss/variables" as defaults;

$animationDuration: var(--rli-animation-duration, 1.2s);
$animationFn: var(--rli-animation-function, linear);

.split-disc-rli-bounding-box {
  font-size: defaults.$fontSizer;
  box-sizing: border-box;
  display: inline-block;

  .split-disc-throbber {
    width: 5em;
    height: 5em;
    display: inline-block;

    // create stacking context
    position: relative;
    z-index: 0;

    color: defaults.$defaultColor;

    .split-disc-ring {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border-width: 0.38em;
      border-style: solid;
      border-color: var(--split1-color, var(--splits-color, currentColor)) transparent
        var(--split2-color, var(--splits-color, currentColor)) transparent;
      background-color: transparent;

      animation-name: splitDiscSpin;
      animation-duration: $animationDuration;
      animation-timing-function: $animationFn;
      animation-iteration-count: infinite;
    }

    .split-disc-text {
      mix-blend-mode: difference;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: -2;
    }
  }
}
@keyframes splitDiscSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
