@use "../../../scss/variables" as defaults;

$animationDuration: var(--rli-animation-duration, 1.2s);
$animationFn: var(--rli-animation-function, ease-in-out);
$numberOfDots: 12; // HTML should likewise be 12 elems

.bubble-dotted-rli-bounding-box {
  font-size: defaults.$fontSizer;
  box-sizing: border-box;
  display: inline-block;

  .bubble-dotted-throbber {
    width: 5em;
    height: 5em;
    position: relative;
    z-index: 0;
    display: inline-block;
    color: defaults.$defaultColor;

    .bubble-dotted-text {
      mix-blend-mode: difference;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: -2;
    }

    .bubble-dot-matter {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      transform: rotate(calc((var(--elem-pos) - 1) * calc(360deg / $numberOfDots)));

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 15%;
        height: 15%;
        background-color: currentColor;
        border-radius: 50%;

        animation-name: bubbleDots;
        animation-duration: $animationDuration;
        animation-timing-function: $animationFn;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        // Algorithm: duration/total_dots * dot_pos
        animation-delay: calc(($animationDuration / $numberOfDots) * ($numberOfDots - (var(--elem-pos) - 1)) * -1);
      }
    }
  }
}

@keyframes bubbleDots {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
