@use "sass:string";
@use "../../../scss/variables" as defaults;

$animationDuration: var(--rli-animation-duration, 1.2s);
$animationFn: var(--rli-animation-function, ease-in-out);
$numOfSpokes: 12;
// $numOfSpokesVar: var(--orbit-progress-spokes-count, $numOfSpokes);
$degreesInterval: calc(360deg / $numOfSpokes);
$delayInterval: calc($animationDuration / $numOfSpokes);
$spokeSize: 1.2em;

// Animation names
$spokesSpinAnim: string.unique-id();
$spokesColoringAnim: string.unique-id();

@function spokesColorPhase($num: null) {
	$cssVar: var(--OP-spokes-phase1-color);

	@if ($num and $num != 1) {
		$cssVar: var(--OP-spokes-phase#{$num}-color, $cssVar);
	}

	@return $cssVar;
}

.OP-spokes-rli-bounding-box {
	--OP-spokes-phase1-color: #{defaults.$defaultColor};

	font-size: defaults.$fontSizer;
	position: relative;
	color: var(--OP-spokes-phase1-color);

	.OP-spokes-indicator {
		width: calc($spokeSize * 4);
		height: calc($spokeSize * 4);
		display: block;
		position: relative;

		// For debugging
		// background-color: aquamarine;

		.spoke {
			position: absolute;

			// Dimensions + Centering technique
			height: $spokeSize;
			width: calc($spokeSize / 3);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto auto auto 50%;
			// background-color: #1d1d1d;
			background-color: spokesColorPhase();
			border-radius: calc($spokeSize / 5);
			// border-top-right-radius: calc($spokeSize / 3); // Same as width
			opacity: 0;
			animation:
				$animationDuration $animationFn backwards infinite $spokesSpinAnim,
				calc($animationDuration * 4) $animationFn infinite $spokesColoringAnim;
			transform-origin: left center;

			@for $j from 1 through $numOfSpokes {
				$viceversaSpokeNum: calc($numOfSpokes - ($j - 1));
				// @debug $viceversaSpokeNum;
				$spokeIndex: calc($j - 1);
				// $spokeIndex2: calc($viceversaSpokeNum - 1);
				&:nth-of-type(#{$j}) {
					$rotateInclination: calc(#{$spokeIndex} * 360deg / #{$numOfSpokes});
					$spokesOffset: calc(($spokeSize + ($spokeSize * 0.3)) * -1);

					transform: rotate($rotateInclination) translate(-50%, $spokesOffset);
					animation-delay: calc(($viceversaSpokeNum - 1) * $delayInterval * -1);
				}
			}
		}
	}

	.OP-spokes-indicator-text {
		mix-blend-mode: difference;
		// filter: invert(3%);

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: spokesColorPhase();

		z-index: -2;

		// background-color: blue;
	}
}

@keyframes #{$spokesSpinAnim} {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes #{$spokesColoringAnim} {
	100%,
	0% {
		background-color: spokesColorPhase(1);
	}
	22% {
		background-color: spokesColorPhase(1);
	}
	25% {
		background-color: spokesColorPhase(2);
	}
	42% {
		background-color: spokesColorPhase(2);
	}
	50% {
		background-color: spokesColorPhase(3);
	}
	72% {
		background-color: spokesColorPhase(3);
	}
	75% {
		background-color: spokesColorPhase(4);
	}
	97% {
		background-color: spokesColorPhase(4);
	}
}
