.d-i-b {
  display: inline-block;
}

.disc-bounding-box {
  font-size: 16px;
  display: inline-block;

  .disc-loader {
    width: 5em;
    height: 5em;
    color: limegreen;
    display: inline-block;
    position: relative;

    .disc-ring {
      width: 100%;
      height: 100%;
      border-width: 0.38em;
      border-style: solid;
      border-color: currentColor;
      border-bottom-color: transparent;
      border-radius: 50%;
      // display: inline-block;
      box-sizing: border-box;
      animation: spin 1s linear infinite;
    }

    .disc-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // font-weight: 500;
      width: 80%;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.6em;
      font-family: sans-serif;
      letter-spacing: 0.5px;
      mix-blend-mode: difference;
      // filter: invert(3%);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: -2;

      // background-color: blue;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
