@use "../../scss/variables" as defaults;

.mosaic-bounding-box {
  box-sizing: border-box;
  font-size: defaults.$fontSizer;

  .mosaic-loader {
    width: 5em;
    height: 5em;
    // background-color: yellow;
    color: defaults.$defaultColor;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "a b c"
      "d e f"
      "g h i";

    //create stacking context
    position: relative;
    z-index: 0;

    .mosaic-cube-text {
      mix-blend-mode: difference;
      // filter: invert(1);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: -2;
    }

    .mosaic-cube {
      background-color: currentColor;
      animation: mosaic-animate 1.3s infinite ease-in-out;
    }
    .mosaic-cube1 {
      animation-delay: 0.2s;
      grid-area: a;
    }
    .mosaic-cube2 {
      animation-delay: 0.3s;
      grid-area: b;
    }
    .mosaic-cube3 {
      grid-area: c;
      animation-delay: 0.4s;
    }
    .mosaic-cube4 {
      grid-area: d;
      animation-delay: 0.1s;
    }
    .mosaic-cube5 {
      grid-area: e;
      animation-delay: 0.2s;
    }
    .mosaic-cube6 {
      grid-area: f;
      animation-delay: 0.3s;
    }
    .mosaic-cube7 {
      grid-area: g;
      animation-delay: 0s;
    }
    .mosaic-cube8 {
      grid-area: h;
      animation-delay: 0.1s;
    }
    .mosaic-cube9 {
      grid-area: i;
      animation-delay: 0.2s;
    }
  }
}

@keyframes mosaic-animate {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
    // transform: scale(1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
    // transform: scale(0, 0);
  }
}
