@use "sass:color";
@use "sass:string";
@use "sass:list";
@use "../../scss/variables" as defaults;
@use "../../scss/mixins" as sharedMixins;

$atomColor: defaults.$defaultColor;
$fallbackAnimationDuration: 1s; // This time value should be in sync with JS(React component)
$animationDuration: var(--rli-animation-duration, $fallbackAnimationDuration);
$animationFn: var(#{defaults.$animationEasingVarName}, linear);

$defaultColorRedChannel: color.red($atomColor);
$defaultColorGreenChannel: color.green($atomColor);
$defaultColorBlueChannel: color.blue($atomColor);
$atomWidth: 5em;
$atomHeight: $atomWidth;
$electronPathOpacity: 0.18; // The faint orbit path the electron travels around
$electronApparentWindOpacity: 0.85; // The wind trail of the speeding/travelling electron

$nucleusGlow: string.unique-id();
$electronSpinAnimation: string.unique-id();
$orbitSpinAnimation: string.unique-id();
$atomColoring: string.unique-id();
$atomColoringOpacityLevel_1: string.unique-id();
$atomColoringOpacityLevel_2: string.unique-id();

// Sass list with variable names that color the animation
// NOTE: These names should match with ones in Javascript(React component)
$coloringPropertyNames: (
	"--atom-phase1-rgb",
	"--atom-phase2-rgb",
	"--atom-phase3-rgb",
	"--atom-phase4-rgb"
);

@mixin fontColor($phaseNum: null, $alpha: 1) {
	$varName: string.unquote(list.nth($coloringPropertyNames, 1));
	$rgbColor: rgba(var($varName), $alpha);

	@if ($phaseNum and $phaseNum != 1) {
		$newVarName: string.unquote(list.nth($coloringPropertyNames, $phaseNum));

		// Explicitly add fallback since @property support is still catching up
		$rgbColor: rgba(var($newVarName, var($varName)), $alpha);
	}

	color: $rgbColor;
}

.atom-rli-bounding-box {
	--atom-phase1-rgb: #{$defaultColorRedChannel}, #{$defaultColorGreenChannel},
		#{$defaultColorBlueChannel};

	// color: RGBVarChannels();
	@include fontColor();
	font-size: defaults.$fontSizer;
	position: relative;
	text-align: unset;

	// Create stacking context
	isolation: isolate;

	.atom-indicator {
		width: $atomWidth;
		height: $atomHeight;

		position: relative;
		perspective: $atomWidth;
		overflow: hidden;
		@include fontColor();
		animation: calc($animationDuration * 4) $animationFn infinite $atomColoring;

		// nucleus
		&::after,
		&::before {
			$dimension: calc($atomWidth * 0.08);

			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: $dimension;
			height: $dimension;
			margin: auto;
			border-radius: 50%;
			background-color: currentColor;
		}
		&::before {
			filter: blur(0.125em) drop-shadow(0px 0px 0.375em currentColor)
				drop-shadow(0px 0px 0.75em currentColor);
			animation: $animationDuration $animationFn infinite $nucleusGlow;
		}

		.electron-orbit {
			$dimension: calc($atomWidth * 0.8);

			@include fontColor(null, $electronApparentWindOpacity);
			border: 0;
			border-left: 0.4em solid currentColor;
			box-sizing: border-box;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			width: $dimension;
			height: $dimension;
			background-color: transparent;
			border-radius: 50%;
			transform-style: preserve-3d;

			animation:
				$animationDuration $animationFn infinite $orbitSpinAnimation,
				calc($animationDuration * 4) $animationFn infinite
					$atomColoringOpacityLevel_1;

			// Electron track/path
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-radius: 50%;
				@include fontColor(null, $electronPathOpacity);
				animation: calc($animationDuration * 4) $animationFn infinite
					$atomColoringOpacityLevel_2;
				border: 0.125em solid currentColor;
			}

			// electron
			&::before {
				$dimension: calc($atomWidth * 0.032);

				content: "";
				width: $dimension;
				height: $dimension;
				position: absolute;
				border-radius: 50%;
				top: calc($dimension * 0.5 * -1);
				right: 0;
				bottom: 0;
				left: 0;
				margin: 0 auto;
				@include fontColor();
				box-shadow:
					0px 0px 0.125em 0.0625em currentColor,
					0px 0px 1.25em 0.125em currentColor;
				background-color: currentColor;
				transform: rotateY(-70deg);
				animation:
					$animationDuration $animationFn infinite $electronSpinAnimation,
					calc($animationDuration * 4) $animationFn infinite $atomColoring;
			}

			&:nth-of-type(1) {
				--orbit-vector-factor: -1;

				transform: rotateY(65deg)
					rotateX(calc(54deg * var(--orbit-vector-factor)));
			}
			&:nth-of-type(2) {
				--orbit-vector-factor: 1;

				transform: rotateY(65deg)
					rotateX(calc(54deg * var(--orbit-vector-factor)));
			}
			&:nth-of-type(3) {
				--orbit-vector-factor: 0;

				transform: rotateY(65deg)
					rotateX(calc(54deg * var(--orbit-vector-factor)));

				// --------Animation ahead into time <START--------
				animation-delay: calc($animationDuration * 0.5 * -1),
					calc($animationDuration * 4 * -1); // No delay applied to coloring animation
				&::before {
					animation-delay: calc($animationDuration * 0.5 * -1),
						calc($animationDuration * 4 * -1); // No delay applied to coloring animation
				}
				// --------Animation ahead into time <END--------

				// --------Animation shorter time <START--------
				// animation-duration: calc($animationDuration * 0.75),
				// 	calc($animationDuration * 0.75 * 4);
				// &::before {
				// 	animation-duration: calc($animationDuration * 0.75),
				// 		calc($animationDuration * 0.75 * 4);
				// }
				// --------Animation shorter time <END--------
			}
		}
	}

	.atom-text {
		color: currentColor;
		mix-blend-mode: difference;
		width: unset;
		display: block;
	}
}

@include sharedMixins.registerCustomProperties($coloringPropertyNames) {
	syntax: "<number>#";
	inherits: true;
	initial-value:
		#{$defaultColorRedChannel},
		#{$defaultColorGreenChannel},
		#{$defaultColorBlueChannel};
}

// Sass list
$animationDurationName: (#{defaults.$animationDurationVarName});
// Register CSS custom property for variable with animation Duration
// NOTE: Won't register custom property for animation easing function since it has a data type syntax that is not supported by CSS @property syntax
@include sharedMixins.registerCustomProperties($animationDurationName) {
	syntax: "<time>";
	inherits: true;
	initial-value: $fallbackAnimationDuration;
}

@keyframes #{$orbitSpinAnimation} {
	from {
		transform: rotateY(70deg) rotateX(calc(54deg * var(--orbit-vector-factor)))
			rotateZ(0deg);
	}
	to {
		transform: rotateY(70deg) rotateX(calc(54deg * var(--orbit-vector-factor)))
			rotateZ(360deg);
	}
}
@keyframes #{$electronSpinAnimation} {
	from {
		transform: rotateY(-70deg) rotateX(0deg);
	}
	to {
		transform: rotateY(-70deg) rotateX(-360deg);
	}
}
@keyframes #{$nucleusGlow} {
	100%,
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
}

// It is easier animating the value of a css variable(--some-name), but animation of a property name is buggy in firefox
// and requires some bit of extra hack in chrome
// There option left is to animate CSS property, e.g color. Disadvantage of this approach is it requires more animatiion frames
// since some sections of the animation have different opacity for there color.
@keyframes #{$atomColoring} {
	100%,
	0% {
		@include fontColor(1);
	}
	20% {
		@include fontColor(1);
	}
	25% {
		@include fontColor(2);
	}
	45% {
		@include fontColor(2);
	}
	50% {
		@include fontColor(3);
	}
	70% {
		@include fontColor(3);
	}
	75% {
		@include fontColor(4);
	}
	95% {
		@include fontColor(4);
	}
}
@keyframes #{$atomColoringOpacityLevel_1} {
	100%,
	0% {
		@include fontColor(1, $electronApparentWindOpacity);
	}
	20% {
		@include fontColor(1, $electronApparentWindOpacity);
	}
	25% {
		@include fontColor(2, $electronApparentWindOpacity);
	}
	45% {
		@include fontColor(2, $electronApparentWindOpacity);
	}
	50% {
		@include fontColor(3, $electronApparentWindOpacity);
	}
	70% {
		@include fontColor(3, $electronApparentWindOpacity);
	}
	75% {
		@include fontColor(4, $electronApparentWindOpacity);
	}
	95% {
		@include fontColor(4, $electronApparentWindOpacity);
	}
}
@keyframes #{$atomColoringOpacityLevel_2} {
	100%,
	0% {
		@include fontColor(1, $electronPathOpacity);
	}
	20% {
		@include fontColor(1, $electronPathOpacity);
	}
	25% {
		@include fontColor(2, $electronPathOpacity);
	}
	45% {
		@include fontColor(2, $electronPathOpacity);
	}
	50% {
		@include fontColor(3, $electronPathOpacity);
	}
	70% {
		@include fontColor(3, $electronPathOpacity);
	}
	75% {
		@include fontColor(4, $electronPathOpacity);
	}
	95% {
		@include fontColor(4, $electronPathOpacity);
	}
}
